@if (consentOpen()) {
<div class="consent-banner">
    <h3>Cookie settings</h3>

    <div class="consent-content">
        <p>This website uses cookies to improve user experience, add functionality, and to analyse interaction. <br>By
            allowing cookies, you agree to the <a class="slnd-link" routerLink="/privacy">privacy policy</a>.

        </p>
        <div class="consent-settings">
            <div class="consent-selection">
                <span class="consent-selector"> essential <slnd-toggle-button
                        [mandatory]="true"></slnd-toggle-button></span>
                <span class="consent-selector"> functional <slnd-toggle-button
                        [active]="displayConsentSettings().functional"
                        (toggle)="changeConsentSettings({functional: !displayConsentSettings().functional})"></slnd-toggle-button></span>
                <span class="consent-selector"> analytics <slnd-toggle-button
                        [active]="displayConsentSettings().analytics"
                        (toggle)="changeConsentSettings({analytics: !displayConsentSettings().analytics})"></slnd-toggle-button></span>
            </div>
            <div class="consent-buttons">
                <slnd-button text="Reject" [relevance]="BUTTON.RAISED" (btnClick)="rejectAll()"></slnd-button>
                <slnd-button text="Allow All" [relevance]="BUTTON.RAISED" (btnClick)="allowAll()"></slnd-button>
                <slnd-button text="Save" [relevance]="BUTTON.RAISED" (btnClick)="saveConsentSettings()"></slnd-button>
            </div>
        </div>

    </div>
</div>
}