@if (consentService.consentBanner) {
<div class="consent-banner">
    <h3>Cookie settings</h3>

    <div class="consent-content">
        <p>This website uses cookies to improve user experience, add functionality, and to analyse interaction. <br>By
            allowing cookies, you agree to the <a class="slnd-link" routerLink="/privacy">privacy policy</a>.

        </p>
        <div class="selectables">
            <div class="settings">
                <div>
                    <p>essential</p>
                    <slnd-toggle-button state="true" class="necessary"></slnd-toggle-button>
                </div>
                <div>
                    <p>functional</p>
                    <slnd-toggle-button (click)="consentService.changeCookies(consentService.functional)"
                        [attr.state]="consentService.cookieMap.get(consentService.functional) ? 'true' : ''"></slnd-toggle-button>
                </div>
                <div>
                    <p>analytics</p>
                    <slnd-toggle-button (click)="consentService.changeCookies(consentService.analytics)"
                        [attr.state]="consentService.cookieMap.get(consentService.analytics) ? 'true' : ''"></slnd-toggle-button>
                </div>
            </div>
            <div class="buttons">
                <div class="slnd-consent-btn" role="button" (click)="rejectAll()">Reject all</div>
                <div class="slnd-consent-btn" role="button" (click)="saveSettings()">Save</div>
                <div class="slnd-consent-btn" role="button" (click)="allowAll()">Allow all</div>
            </div>
        </div>
    </div>
</div>
}