section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &.spotlight {
        align-items: center;
    }

    .content {
        width: max(700px, 60%);
        margin-bottom: 250px;

        .columns {
            display: flex;
            align-items: flex-start;
            gap: 20px;

            p {
                padding: 0 .5em 1.5em .5em;
                margin: 0 0 1em 0;
                border-bottom: 2px solid black;
            }

            img {
                width: max(200px, 20%);
                aspect-ratio: 1;
                object-fit: contain;
            }
        }
    }

    .skills-experience {

        h2 {
            text-align: center;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            p {
                width: 80%;
                text-align: center;
            }

            .skills-box {
                display: flex;
                flex-flow: column nowrap;
                gap: 80px;

                .skill-category {
                    border-top: 2px solid black;
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 30px;

                    .skills {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 40px;
                        padding-left: 20px;

                        .skill {
                            flex: 0 0 100px;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            gap: 10px;

                            img {
                                width: 60%;
                                aspect-ratio: 1;
                                object-fit: contain;
                                filter: grayscale(.6);
                                transition:
                                    filter var(--time-interact) ease,
                                    scale var(--time-interact) ease;
                            }

                            &:hover {
                                img {
                                    scale: 1.02;
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

h1 {
    font-size: max(5em, 5svw);
    font-weight: 400;
    display: flex;
    flex-flow: column nowrap;

    span {
        line-height: 1em;
    }

    .clr-back {
        text-align: center;
        color: white;
        background: var(--clr-grad);
        padding: .1em .1em .3em .1em;
        background-repeat: no-repeat;
        animation: intro 900ms ease 200ms forwards;
        background-size: 0%;
    }
}

@keyframes intro {
    0% {
        background-size: 0%;
    }

    100% {
        background-size: 100%;
    }
}