<section class="spotlight">
    <h1>
        <p>Hello,</p>
        <p>I'm Kevin and I do</p>
        <p>web development</p>
    </h1>
</section>
<section>
    <div class="content">
        <h2>Who is he?</h2>
        <div class="columns">
            <div>
                <p>I’m Kevin and I love digital interaction and solving problems.<br>
                    Since 2021, I’ve been diving deep into web development and everything that goes with it. It’s my
                    passion
                    to craft unique and meaningful web experiences with either raw web technologies or frameworks and
                    CMS.<br>
                    I graduated in 2025 with a bachelor’s degree in Online Media <a class="slnd-link"
                        href="https://www.hs-furtwangen.de/" target="_blank"> from HFU</a>.</p>
                <slnd-button text="View my work" url="/work"></slnd-button>
            </div>
            <img src="/assets/img/kevin_portrait.jpg" alt="black and white portrait of kevin">
        </div>
    </div>
</section>