h1 {
    display: flex;
    flex-flow: column nowrap;
    hyphens: auto;

    span {
        line-height: 1em;
    }

    .clr-back {
        text-align: center;
        color: var(--clr-text-alt);
        background: var(--clr-grad);
        padding: .1em .1em .3em .1em;
        background-repeat: no-repeat;
        animation: intro 900ms ease 200ms forwards;
        background-size: 0%;
    }
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 90svh;

    &.spotlight {
        align-items: center;
    }

    .content {

        .columns {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 20px;
            padding: 0 0 20px 0;
            border-bottom: 2px solid var(--clr-text);

            p {
                padding: 0 .5em .5em .5em;
                margin: 0 0 1em 0;
            }

            img {
                width: max(200px, 20%);
                aspect-ratio: 1;
                object-fit: contain;
                align-self: flex-end;
            }
        }
    }

    .skills-experience {

        h2 {
            text-align: end;
            line-height: .8em;
            margin: .2em 0 .6em 0;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 40px;
            width: 100%;

            p {
                text-align: end;
                padding: 0 0 0 2em;
            }

            .skills-box {
                display: flex;
                flex-flow: column nowrap;
                margin-bottom: 100px;

                .skill-category {
                    border-top: 2px solid var(--clr-text);
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 30px;
                    padding: 10px 10px 80px 10px;
                    transition:
                        opacity var(--time-interact-calm) ease,
                        filter var(--time-interact-calm) ease,
                        scale var(--time-interact-calm) ease;

                    h3 {
                        position: relative;
                        align-self: flex-start;

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -.2em;
                            width: 1.2em;
                            left: 100%;
                            translate: -100%;
                            height: 2px;
                            background: var(--clr-grad);
                            transition:
                                width var(--time-interact-calm) ease,
                                translate var(--time-interact-calm) ease,
                                left var(--time-interact-calm) ease;
                            transition-delay: var(--time-interact-delay);
                        }
                    }


                    .skills {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        gap: 40px;

                        .skill {
                            flex: 0 0 80px;
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            gap: 10px;

                            img {
                                width: 60%;
                                aspect-ratio: 1;
                                object-fit: contain;
                                filter: grayscale(1);
                                transition:
                                    filter var(--time-interact) ease,
                                    scale var(--time-interact) ease;
                            }

                            span {
                                text-align: center;
                            }
                        }
                    }

                    &:not(.blurred) {
                        scale: 1.02;

                        .skills {
                            .skill {
                                &:hover {
                                    img {
                                        filter: grayscale(0);
                                    }
                                }
                            }
                        }
                    }

                    &.blurred {
                        opacity: .3;
                        filter: blur(1px);

                        h3 {
                            &::after {
                                left: 0;
                                width: 0;
                                translate: 0 0;
                            }
                        }
                    }
                }
            }

            .experience-box {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1025px) {
    section {
        min-height: 100svh;
    }
}

@media (min-width: 769px) {
    section {
        .content {
            .columns {
                flex-direction: row;
                flex-wrap: nowrap;

                img {
                    align-self: center;
                }
            }
        }

        .skills-experience {
            article {
                .skills-box {
                    .skill-category {
                        .skills {
                            justify-content: flex-end;

                            .skill {
                                flex-basis: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}