@use '_mixins' as shared;

:host {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;

    transition:
        opacity var(--time-interact-calm) ease,
        filter var(--time-interact-calm) ease,
        scale var(--time-interact-calm) ease;

    &.core-category {
        h3 {
            padding: 0 .3em;
            background: var(--clr-grad);
            color: var(--clr-bg);
        }
    }

    &.in-view {
        scale: 1.02;

        .skills {
            .skill {
                img {
                    &:hover {
                        filter: grayscale(0);

                        &.inverse:hover {
                            filter: grayscale(0) invert(1);
                        }
                    }
                }
            }
        }
    }

    &:not(.in-view) {
        @include shared.blurred;

        h3 {
            &::after {
                left: 0;
                width: 0;
                translate: 0 0;
            }
        }
    }
}



h3 {
    position: relative;
    align-self: flex-start;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -.2em;
        width: 1.2em;
        left: 100%;
        translate: -100%;
        height: 2px;
        background: var(--clr-grad);
        transition:
            width var(--time-interact-calm) ease,
            translate var(--time-interact-calm) ease,
            left var(--time-interact-calm) ease;
        transition-delay: var(--time-interact-delay);
    }
}


.skills {
    flex: 1 1 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1em;

    .skill {
        flex: 0 0 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 10px;

        img {
            width: min(60%, 56px);
            aspect-ratio: 1;
            object-fit: contain;
            filter: grayscale(1);
            transition:
                filter var(--time-interact) ease,
                scale var(--time-interact) ease;

            &.inverse {
                filter: grayscale(1) invert(1);
            }
        }

        span {
            text-align: center;
        }
    }
}