:host {
    display: flex;
    gap: 5px;
    animation: fade-message var(--time-interact) ease;

    &.user {
        padding-left: 15%;

        .message-main {
            align-items: flex-end;

            .message-text {
                background-color: var(--clr-orange-light);
                color: black;
            }
        }
    }

    &.system {
        align-self: flex-start;
        padding-right: 15%;

        .message-text {
            border: 1px solid var(--clr-blue-light);
        }
    }
}

.message-main {
    display: flex;
    flex-direction: column;

    .message-text {
        display: inline-block;
        overflow-wrap: break-word;
        font-size: 1em;
        padding: .3em .5em;
        hyphens: auto;
    }

    .message-time {
        font-family: var(--font-secondary);
        font-size: .6em;
    }
}

@keyframes fade-message {
    0% {
        opacity: 0;
        translate: 0 20px;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}