:host {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    transform: translateZ(0);
    background-color: var(--clr-bg);
    z-index: 8;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: .5em;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: var(--clr-text);
        transition: width var(--time-interact) ease;
    }

    &.float {
        &::after {
            width: 100%;
        }
    }
}

a {
    z-index: 2;

    .logo {
        width: clamp(120px, 20svw, 200px);
    }
}

.slnd-nav {
    grid-column: 3;
    grid-row: 1;
    place-self: center;
}

.slnd-actions {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

@media (min-width: 1025px) {
    :host {
        position: sticky;
        align-items: start;
        grid-template-rows: 1fr 1fr 1fr;
        width: 240px;
        height: 100svh;
    }

    .slnd-nav {
        grid-column: 1;
        grid-row: 2;
        place-self: center start;
    }

    .slnd-actions {
        grid-column: 1;
        grid-row: 3;
        place-self: end start;
    }
}