@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 100;
    src: url('./Geist/Geist-Thin.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 200;
    src: url('./Geist/Geist-ExtraLight.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 300;
    src: url('./Geist/Geist-Light.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 400;
    src: url('./Geist/Geist-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 500;
    src: url('./Geist/Geist-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 600;
    src: url('./Geist/Geist-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 700;
    src: url('./Geist/Geist-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 800;
    src: url('./Geist/Geist-ExtraBold.woff2') format('woff2')
}

@font-face {
    font-family: 'Geist';
    font-style: regular;
    font-weight: 900;
    src: url('./Geist/Geist-Black.woff2') format('woff2')
}

@font-face {
    font-family: 'EB Garamond';
    font-style: regular;
    font-weight: 400;
    src: url('./EB_Garamond/EBGaramond-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'EB Garamond';
    font-style: regular;
    font-weight: 500;
    src: url('./EB_Garamond/EBGaramond-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'EB Garamond';
    font-style: regular;
    font-weight: 600;
    src: url('./EB_Garamond/EBGaramond-SemiBold.woff2') format('woff2')
}

@font-face {
    font-family: 'EB Garamond';
    font-style: regular;
    font-weight: 700;
    src: url('./EB_Garamond/EBGaramond-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'EB Garamond';
    font-style: regular;
    font-weight: 800;
    src: url('./EB_Garamond/EBGaramond-ExtraBold.woff2') format('woff2')
}