:host {
    align-self: flex-end;
}

.actions {
    button {
        width: 28px;
        aspect-ratio: 1;
        border: 2px solid var(--clr-text);

        transition: scale var(--time-interact) ease;

        &.toggle-dark-mode {
            background: linear-gradient(90deg, var(--clr-bg) 50%, var(--clr-text) 50%);

            p {
                font-size: .9em;
                background-image: linear-gradient(90deg, var(--clr-text) 50%, var(--clr-bg) 50%);
                font-weight: 900;
                background-clip: text;
                color: transparent;
            }
        }


        &:hover {
            scale: 1.05;
        }
    }
}