<article>
    <p>
        I am a software developer enthusiastic about digital interaction and problem-solving, committed to precision,
        clean structures, and high standards. For me, development isn't just about making things work. It’s
        about
        finding the most elegant way to reach a goal. <br><br>Since 2021, I have specialized in web development and I
        love
        being at the intersection of logic and design. It's my passion to craft unique, meaningful digital products
        using modern frameworks and a focused eye for detail. <br>Whether I’m
        architecting a web app or refining a user
        interface, my goal is always to create something that is as robust as it is intuitive.<br><br>
        I graduated in 2025 with a bachelor’s degree in Online Media <a class="slnd-link"
            href="https://www.hs-furtwangen.de/" target="_blank"> from HFU</a>.</p>
    <slnd-button cta text="get in touch" url="/contact"></slnd-button>
</article>