:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30svh;
    min-height: 100svh;
    margin-bottom: 200px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    >* {
        text-align: center;
    }

    h1 {
        margin-bottom: .4em;
    }
}

.privacy-item {
    width: 90%;
    border-bottom: 2px solid var(--clr-text);
    padding: 0 1em;

    .privacy-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        cursor: pointer;
        padding: 2em 0 0em 0;
        user-select: none;

        h2 {
            position: relative;
            font-weight: 500;
            font-size: 2em;
            transition: scale var(--time-interact) ease;
            width: fit-content;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 0;
                background: var(--clr-grad);
                transition:
                    width var(--time-interact-slow) ease,
                    left var(--time-interact-slow) ease,
            }
        }

        .toggle-icon {
            rotate: 45deg;
            transition:
                rotate var(--time-interact) ease,
                scale var(--time-interact) ease;
        }

        &:hover {

            h2 {
                scale: 1.01;

                &::after {
                    left: 95%;
                    width: 1em;
                }
            }

            .toggle-icon {
                scale: 1.1;
            }
        }
    }

    .privacy-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 0;
        overflow: hidden;
        transition: height var(--time-interact-calm) ease;

        ul {
            padding-left: 40px;

            li {
                list-style: square;
                margin-bottom: 10px;

                span {
                    font-weight: 600;
                }
            }
        }
    }

    &.open-item {

        .privacy-head {
            .toggle-icon {
                rotate: 0deg;
            }
        }

        .privacy-content {
            height: auto;
            margin-bottom: 20px;
        }
    }
}