<article>
    <p>I am a software developer enthusiastic about digital interaction and problem-solving, committed to
        precision, clean structures
        and high
        standards.<br>
        Since 2021, I have specialized in web development and everything that goes with it. It’s my
        passion to craft unique and meaningful digital products by using web technologies and modern
        frameworks.<br>
        I graduated in 2025 with a bachelor’s degree in Online Media <a class="slnd-link"
            href="https://www.hs-furtwangen.de/" target="_blank"> from HFU</a>.</p>
    <slnd-button text="get in touch" url="/contact"></slnd-button>
</article>
<img src="/assets/img/kevin_portrait.jpg" alt="black and white portrait of kevin">