:host {
    display: block;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mail {
            position: relative;
            padding: .5em .2em;
            text-align: center;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                opacity: 0;
                transition: opacity var(--time-interact) ease;
            }

            a {
                display: block;
                font-size: 1.2em;
                transition: translate var(--time-interact-calm) ease;
            }

            &.hovered {
                p {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 1025px) {

    section {
        h1 {
            text-align: start;
            margin-top: 40svh;
        }
    }
}