<slnd-highlight-heading heading="Get in contact." stringToHighlight="contact."></slnd-highlight-heading>
<section>
    <div class="contacts slnd-bubble-back">
        @for(contact of contacts(); track $index) {
        <div class="contact">
            @if(contact.logo; as logo) {
            <img class="contact-img" [class.inverse-logo]="contact.inverseLogo" [src]="logo">
            }
            @if(contact.icon; as icon) {
            <slnd-icon class="contact-img" width="" [icon]="icon"></slnd-icon>
            }
            <span class="contact-name">{{contact.title}}</span>
            <a class="contact-link" target="_blank" [href]="contact.link"></a>
        </div>
        }
    </div>
</section>