.nav-item {
    position: relative;
    color: var(--clr-text-bold);
    display: flex;
    align-items: center;
    gap: .3em;
    user-select: none;

    padding: .3em;

    &:hover {
        span {
            color: var(--clr-orange);
        }
    }
}

.active {
    pointer-events: none;

    span {
        color: var(--clr-text-bold);
        font-weight: 500;
    }


    .main-nav-marker {
        width: 20px;
    }
}

span {
    transition: color var(--time-interact) ease;
}


.main-nav-marker {
    display: inline-block;
    height: 1px;
    background-color: var(--clr-border);
    width: 0;

    transition: width var(--time-interact-calm) ease;
}