:host {
    display: flex;
    position: relative;
    padding: 0;
    corner-shape: squircle;
    width: fit-content;
    touch-action: manipulation;

    &.default {
        transition: opacity var(--time-interact) ease;

        &:not(&.disabled):hover {
            opacity: .6;
        }
    }

    &.raised {
        border-radius: .8em;
        border: 1px solid var(--clr-border);
        background-color: var(--clr-bg-2);
        transition: background-color var(--time-interact) ease;

        button {
            padding: .4em;
        }

        &:not(&.disabled):hover {
            background-color: var(--clr-blue-light);
        }
    }

    &.cta {
        border-radius: .8em;
        border: 1px solid var(--clr-orange);
        background-color: var(--clr-orange-light);
        background-size: 250% 400%;
        background-position: 50% 00%;
        background-repeat: no-repeat;
        transition: scale var(--time-interact-slow) ease;

        button {
            padding: .3em .5em;

            span {
                color: var(--clr-bg);
                font-weight: 700;
            }
        }

        &:not(&.disabled):hover {
            scale: 1.01;
            transition-duration: var(--time-interact);
        }

        &:not(&.disabled):active {
            scale: .99;
        }
    }

    &.disabled {
        button {
            cursor: default;
            opacity: .3;
        }
    }
}

button {
    display: flex;
    padding: .2em;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

a {
    position: absolute;
    inset: 0;
}