@use '_animations' as *;

:host {
    @include animations;
}

#main-nav {
    user-select: none;

    ul {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        translate: 100% 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--clr-bg);
        flex-flow: column nowrap;
        gap: .5em;
        transition: translate var(--time-interact-calm) ease;
    }

    .toggle-menu {
        position: relative;
        z-index: 1;
    }

    &.open {
        ul {
            animation: fade-in var(--time-interact) ease;
            translate: 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (min-width: 1025px) {
    :host {
        align-self: center;
    }

    #main-nav {
        .toggle-menu {
            display: none;
        }

        ul {
            display: flex;
            align-items: flex-start;
            position: relative;
            translate: 0 0;
            height: auto;
            width: auto;
            transition: none;
            background-color: unset;
        }
    }
}