:root {
    --clr-text: black;
    --clr-text-alt: white;
    --clr-blue: #00D5FF;
    --clr-blue-light: #a5f0ff;
    --clr-orange: #FF8C00;
    --clr-orange-light: #ffb65d;
    --clr-grad: linear-gradient(90deg, var(--clr-orange) 15%, var(--clr-blue) 85%);
    --clr-shadow: rgba(0, 0, 0, .4);
    --time-interact: 150ms;
    --time-interact-calm: 350ms;
    --time-interact-slow: 500ms;
    --time-interact-delay: 100ms;
    --box-shadow: 0 0 15px var(--clr-shadow);
}