#main-nav {
    ul {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
        border-left: 2px solid black;
        padding: .5em .0 .5em 1em;

        li {
            a {
                font-size: 1.2em;
                color: var(--clr-text);

                &::after {
                    background: var(--clr-grad);
                }
            }

            .active {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}