@use '_reset';
@use '_variables' as mode;

html {
    background-color: var(--clr-bg);

    @include mode.light;

    &[data-theme='DARK'] {
        @include mode.dark;
    }

    &::-webkit-scrollbar {
        scrollbar-width: none;
    }
}


* {
    color: var(--clr-text);
    font-family: var(--font-primary);
}

h1 {
    font-size: clamp(3em, 10svw, 5em);
    font-weight: 400;
    line-height: 1em;
    text-wrap: balance;
}


h2 {
    width: 100%;
    font-size: clamp(3.5em, 10svw, 4.5em);
    font-weight: 400;
    margin-bottom: .4em;
    hyphens: auto;
    text-wrap: balance;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
}

p {
    font-size: max(1em, 1.2svw);
    font-weight: 400;
    line-height: 1.3em;
}

.content {
    width: min(700px, 90%);
    margin-bottom: 150px;
}

.slnd-link {
    position: relative;
    color: var(--clr-text);
    transition: color var(--time-interact) ease;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--clr-text);
        width: 100%;
        height: 1px;
    }

    &:hover {
        color: var(--clr-orange);
    }
}

.slnd-bubble-back {
    border: var(--border);
    border-radius: 3em;
    corner-shape: squircle;
    padding: 1.5em;
    background-color: color-mix(in hsl, var(--clr-bg-2), transparent 3%);
    overflow: hidden;
    backdrop-filter: blur(5px);
}


@media (min-width: 1025px) {
    h1 {
        font-size: max(5em, 5svw);
    }

    h2 {
        font-size: max(4.5em, 4.5svw);
    }

    .content {
        width: max(700px, 70%);
        margin-bottom: 250px;
    }
}