@use '_animations' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: center;

    @include animations;
}

h1 {
    display: flex;
    flex-flow: column nowrap;
    hyphens: auto;
    align-items: flex-start;

    .clr-back {
        display: block;
        color: var(--clr-bg);
        background: var(--clr-grad);
        padding: .1em .25em .2em .25em;
        background-repeat: no-repeat;
        background-size: 0%;
        font-weight: 700;
        letter-spacing: -.02em;
        font-size: .8em;

        animation: intro 1200ms ease 200ms forwards;

        >* {
            color: inherit;
        }
    }
}