section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

    .skills-experience {

        h2 {
            text-align: end;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 40px;
            width: 100%;

            p {
                text-align: end;
                padding: 0 0 0 2em;
            }

            .skills-box {
                display: flex;
                gap: 3em;
                width: 100%;
                flex-flow: column nowrap;
            }

            .experience-box {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1025px) {
    .content {
        width: max(700px, 70%);
        margin-bottom: 250px;
    }
}

@media (min-width: 769px) {
    section {
        .skills-experience {
            article {
                .skills-box {
                    .skill-category {
                        .skills {
                            justify-content: flex-end;

                            .skill {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}