:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .skills {
        text-align: end;
    }

    &.heading {
        min-height: 100svh;
    }
}